body{
  background-color: #081543;
}

p{
  color: white;
  text-align: center;
  height: 25%;
  font-size: 25pt;
  margin-left: 30%;
  margin-right:30%;
  font-family: sans-serif;
}

#logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

* {
  box-sizing: border-box;
}

#myInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 0px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: 25%;
  margin-right: 25%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
